.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70%;
  font-size: 14px;
}

.order-item__image {
  max-width: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.order-item__title {
  width: 30%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
